<style>
table, th, td {
  border:1px solid black;
}
</style>

<p> Average Score : <%= @averageScore %> </p>
<p> Max Subject : <%= @maxSubject %> </p>
<table>
    <th>Subject</th>
    <th>Point</th>
    <th>Grade</th>
    <th>Edit</th>
    <th>Delete</th>
    <% @student.scores.each do |score| %>
        <tr>
            <td><%= score.subject %></td>
            <td><%= score.point %></td>
            <td><%= score.grade %></td>
            <td><%= link_to 'EDIT', edit_score_path(score)+'?student_id='+@student.id.to_s %></td>
            <td><%= button_to "DELETE", score, method: :delete %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'ADD', new_score_path+'?student_id='+@student.id.to_s %>
<br>
<%= link_to 'BACK', student_path %>